




	.m3_floor{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/floor/f1.png);
			background-repeat:no-repeat;
			width: 32px;
			height: 32px;
		
		}

    	.m3_w1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w1.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		
		.m3_w2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w2.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_w3{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w3.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}	
		
		.m3_b1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b1.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b2.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b3{
			float: left;
			display: block;
		    background-image: url(../img/M3_IMG/object/b3.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b4{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b4.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b5{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b5.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b6{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b6.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b7{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b7.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b8{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b8.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_b9{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/b9.png);
			background-color: rgb(238,242,247);
			width: 32px;
			height: 32px;
		}
		.m3_wl{
			float: left;
			display: block;
			background-image:url(../img/M3_IMG/wall/wl.png);
			background-position:182px;
			
			width: 32px;
			height: 32px;
		}
		.m3_w5{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/wd2.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		
		.m3_w4{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/wd1.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		
		.m3_wa1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w3.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		.m3_wa2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w2.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		.m3_m6{
			float: left;
			display: block;
		   background-color: red;
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		.m3_wa3{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/wall/m3_w3.png);
			transform: rotate(-90deg);
			width: 32px;
			height: 32px;
		}
		.m3_wd3{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/wd4.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}
		.m3_wd4{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/wd3.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}	
		
		.m3_d1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/door/d2.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}	
		
		.m3_d2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/door/d1.png);
			transform: rotate(90deg);
			width: 32px;
			height: 32px;
		}	
		
		.m3_tab1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab1.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_tab2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab2.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_tab3{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab3.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_tab4{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab4.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_tab5{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab5.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_tab6{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/tab6.png);
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_ct1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/ct11.png);
			background-position: top;
			background-color: rgb(181,193,189);
			width: 32px;
			height: 32px;
		}
		
		.m3_ct2{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/ct22.png);
			background-color: rgb(181,193,189);
			background-position: 0px 0px;
			width: 32px;
			height: 32px;
		}
		
	
		.m3_cabinet1{
			float: left;
			display: block;
			background-image: url(../img/M3_IMG/object/cabinet1.png);
			background-color: rgb(181,193,189);
			background-position: 0px 0px;
			width: 32px;
			height: 32px;
		}
		
			.m3_cabinet2{
				float: left;
				display: block;
				background-image: url(../img/M3_IMG/object/cabinet2.png);
				background-color: rgb(181,193,189);
				background-position: 0px 0px;
				width: 32px;
				height: 32px;
			}